*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: aliceblue;
}
.header__title{
    padding: 15px;
    background: black;
    transition: all 50ms;
}
.header__title:hover{
    background: darkblue;
}